<div id="<%= dom_id post %>">
  <p>
    <strong>Author:</strong>
    <% user = User.find(post.author_id)%>
    <%= user.first_name + " " + user.last_name %> 
  </p>
  
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
