<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<% if notice %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>
<div class="content-grid">
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>


